@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


::-webkit-scrollbar{
  background-color: green;
  width: 10px;
  border-radius: 20px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
  background-color: gray;
  width: 10px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb{
  background-color: green;
  width: 10px;
  border-radius: 10px;
}
.section-container{
  @apply max-w-screen-2xl container mx-auto xl:px-6 px-4
}
