.first{
    animation: loaders 2s ease-in-out;
}
.second{
    animation: secondLoader 2s ease-in-out;
}

@keyframes loaders{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.50;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
@keyframes secondLoader{
    0%{
        transform: translateX(400px);
    }
    25%{
        transform: translateX(200px);

    }
    50%{
        transform: translateX(10px);
    }
   
    100%{
        transform: translateX(0px);
    }
}